:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.2242 0.0351 246.5440);
    --card: oklch(0.9791 0 0);
    --card-foreground: oklch(0.2242 0.0351 246.5440);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2242 0.0351 246.5440);
    --primary: oklch(0.3767 0.1546 29.2339);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7665 0.1387 91.0594);
    --secondary-foreground: oklch(0.2242 0.0351 246.5440);
    --muted: oklch(0.9067 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.5117 0.2016 20.6200);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.6542 0.2321 28.6592);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8078 0 0);
    --input: oklch(0.9067 0 0);
    --ring: oklch(0.7665 0.1387 91.0594);
    --chart-1: oklch(0.5117 0.2016 20.6200);
    --chart-2: oklch(0.7665 0.1387 91.0594);
    --chart-3: oklch(0.3767 0.1546 29.2339);
    --chart-4: oklch(0.4955 0.0896 126.1858);
    --chart-5: oklch(0.2242 0.0351 246.5440);
    --sidebar: oklch(0.2242 0.0351 246.5440);
    --sidebar-foreground: oklch(0.7665 0.1387 91.0594);
    --sidebar-primary: oklch(0.7665 0.1387 91.0594);
    --sidebar-primary-foreground: oklch(0.2242 0.0351 246.5440);
    --sidebar-accent: oklch(0.5117 0.2016 20.6200);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.4091 0 0);
    --sidebar-ring: oklch(0.5117 0.2016 20.6200);
    --font-sans: "Roboto Flex", sans-serif;
    --font-serif: "PT Serif", serif;
    --font-mono: "Roboto Mono", monospace;
    --radius: 0.25rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0.1rem;
    --shadow-opacity: 0.1;
    --shadow-color: #0D1D2B;
    --shadow-2xs: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.05);
    --shadow-xs: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.05);
    --shadow-sm: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.10), 0rem 1px 2px -0.9px hsl(208 53.5714% 10.9804% / 0.10);
    --shadow: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.10), 0rem 1px 2px -0.9px hsl(208 53.5714% 10.9804% / 0.10);
    --shadow-md: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.10), 0rem 2px 4px -0.9px hsl(208 53.5714% 10.9804% / 0.10);
    --shadow-lg: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.10), 0rem 4px 6px -0.9px hsl(208 53.5714% 10.9804% / 0.10);
    --shadow-xl: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.10), 0rem 8px 10px -0.9px hsl(208 53.5714% 10.9804% / 0.10);
    --shadow-2xl: 0rem 0.25rem 0.5rem 0.1rem hsl(208 53.5714% 10.9804% / 0.25);
    --tracking-normal: 0.02em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: oklch(0.2242 0.0351 246.5440);
    --foreground: oklch(0.7665 0.1387 91.0594);
    --card: oklch(0.2776 0.0338 245.8134);
    --card-foreground: oklch(0.7665 0.1387 91.0594);
    --popover: oklch(0.2776 0.0338 245.8134);
    --popover-foreground: oklch(0.7665 0.1387 91.0594);
    --primary: oklch(0.5117 0.2016 20.6200);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7665 0.1387 91.0594);
    --secondary-foreground: oklch(0.2242 0.0351 246.5440);
    --muted: oklch(0.3416 0.0352 248.8936);
    --muted-foreground: oklch(0.7058 0 0);
    --accent: oklch(0.3767 0.1546 29.2339);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.6602 0.2294 35.4025);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.4091 0 0);
    --input: oklch(0.3416 0.0352 248.8936);
    --ring: oklch(0.7665 0.1387 91.0594);
    --chart-1: oklch(0.5117 0.2016 20.6200);
    --chart-2: oklch(0.7665 0.1387 91.0594);
    --chart-3: oklch(0.3767 0.1546 29.2339);
    --chart-4: oklch(0.4955 0.0896 126.1858);
    --chart-5: oklch(1.0000 0 0);
    --sidebar: oklch(0.2242 0.0351 246.5440);
    --sidebar-foreground: oklch(0.7665 0.1387 91.0594);
    --sidebar-primary: oklch(0.7665 0.1387 91.0594);
    --sidebar-primary-foreground: oklch(0.2242 0.0351 246.5440);
    --sidebar-accent: oklch(0.5117 0.2016 20.6200);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.4091 0 0);
    --sidebar-ring: oklch(0.5117 0.2016 20.6200);
    --font-sans: "Roboto Flex", sans-serif;
    --font-serif: "PT Serif", serif;
    --font-mono: "Roboto Mono", monospace;
    --radius: 0.25rem;
    --shadow-x: 0rem;
    --shadow-y: 0.5rem;
    --shadow-blur: 0.75rem;
    --shadow-spread: 0.2rem;
    --shadow-opacity: 0.2;
    --shadow-color: #BF0A30;
    --shadow-2xs: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.10);
    --shadow-xs: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.10);
    --shadow-sm: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.20), 0rem 1px 2px -0.8px hsl(347.4033 90.0498% 39.4118% / 0.20);
    --shadow: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.20), 0rem 1px 2px -0.8px hsl(347.4033 90.0498% 39.4118% / 0.20);
    --shadow-md: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.20), 0rem 2px 4px -0.8px hsl(347.4033 90.0498% 39.4118% / 0.20);
    --shadow-lg: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.20), 0rem 4px 6px -0.8px hsl(347.4033 90.0498% 39.4118% / 0.20);
    --shadow-xl: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.20), 0rem 8px 10px -0.8px hsl(347.4033 90.0498% 39.4118% / 0.20);
    --shadow-2xl: 0rem 0.5rem 0.75rem 0.2rem hsl(347.4033 90.0498% 39.4118% / 0.50);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  
  body {
    letter-spacing: var(--tracking-normal);
  }