:root {
    --background: oklch(0.9301 0.0380 81.5083);
    --foreground: oklch(0.5811 0.1998 315.4418);
    --card: oklch(0.8323 0.1010 47.1495);
    --card-foreground: oklch(0.5811 0.1998 315.4418);
    --popover: oklch(0.9301 0.0380 81.5083);
    --popover-foreground: oklch(0.5811 0.1998 315.4418);
    --primary: oklch(0.8642 0.1763 91.9286);
    --primary-foreground: oklch(0.5811 0.1998 315.4418);
    --secondary: oklch(0.5811 0.1998 315.4418);
    --secondary-foreground: oklch(0.9301 0.0380 81.5083);
    --muted: oklch(0.8323 0.1010 47.1495);
    --muted-foreground: oklch(0.5811 0.1998 315.4418);
    --accent: oklch(0.8437 0.1436 189.7732);
    --accent-foreground: oklch(0.5811 0.1998 315.4418);
    --destructive: oklch(0.5811 0.1998 315.4418);
    --destructive-foreground: oklch(0.9301 0.0380 81.5083);
    --border: oklch(0.8323 0.1010 47.1495);
    --input: oklch(0.8323 0.1010 47.1495);
    --ring: oklch(0.8642 0.1763 91.9286);
    --chart-1: oklch(0.8642 0.1763 91.9286);
    --chart-2: oklch(0.5811 0.1998 315.4418);
    --chart-3: oklch(0.8323 0.1010 47.1495);
    --chart-4: oklch(0.8437 0.1436 189.7732);
    --chart-5: oklch(0.9301 0.0380 81.5083);
    --sidebar: oklch(0.5811 0.1998 315.4418);
    --sidebar-foreground: oklch(0.9301 0.0380 81.5083);
    --sidebar-primary: oklch(0.8642 0.1763 91.9286);
    --sidebar-primary-foreground: oklch(0.5811 0.1998 315.4418);
    --sidebar-accent: oklch(0.8437 0.1436 189.7732);
    --sidebar-accent-foreground: oklch(0.9301 0.0380 81.5083);
    --sidebar-border: oklch(0.9301 0.0380 81.5083);
    --sidebar-ring: oklch(0.8642 0.1763 91.9286);
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.75rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.15;
    --shadow-color: #A64AC9;
    --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.07);
    --shadow-xs: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.07);
    --shadow-sm: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.15), 0 1px 2px -1px hsl(283.4646 54.0426% 53.9216% / 0.15);
    --shadow: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.15), 0 1px 2px -1px hsl(283.4646 54.0426% 53.9216% / 0.15);
    --shadow-md: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.15), 0 2px 4px -1px hsl(283.4646 54.0426% 53.9216% / 0.15);
    --shadow-lg: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.15), 0 4px 6px -1px hsl(283.4646 54.0426% 53.9216% / 0.15);
    --shadow-xl: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.15), 0 8px 10px -1px hsl(283.4646 54.0426% 53.9216% / 0.15);
    --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(283.4646 54.0426% 53.9216% / 0.38);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: oklch(0.5811 0.1998 315.4418);
    --foreground: oklch(0.9301 0.0380 81.5083);
    --card: oklch(0.8642 0.1763 91.9286);
    --card-foreground: oklch(0.5811 0.1998 315.4418);
    --popover: oklch(0.5811 0.1998 315.4418);
    --popover-foreground: oklch(0.9301 0.0380 81.5083);
    --primary: oklch(0.8642 0.1763 91.9286);
    --primary-foreground: oklch(0.5811 0.1998 315.4418);
    --secondary: oklch(0.8437 0.1436 189.7732);
    --secondary-foreground: oklch(0.5811 0.1998 315.4418);
    --muted: oklch(0.8323 0.1010 47.1495);
    --muted-foreground: oklch(0.5811 0.1998 315.4418);
    --accent: oklch(0.8437 0.1436 189.7732);
    --accent-foreground: oklch(0.5811 0.1998 315.4418);
    --destructive: oklch(0.8323 0.1010 47.1495);
    --destructive-foreground: oklch(0.5811 0.1998 315.4418);
    --border: oklch(0.8642 0.1763 91.9286);
    --input: oklch(0.8642 0.1763 91.9286);
    --ring: oklch(0.9301 0.0380 81.5083);
    --chart-1: oklch(0.8642 0.1763 91.9286);
    --chart-2: oklch(0.8437 0.1436 189.7732);
    --chart-3: oklch(0.8323 0.1010 47.1495);
    --chart-4: oklch(0.9301 0.0380 81.5083);
    --chart-5: oklch(0.5811 0.1998 315.4418);
    --sidebar: oklch(0.8642 0.1763 91.9286);
    --sidebar-foreground: oklch(0.5811 0.1998 315.4418);
    --sidebar-primary: oklch(0.8437 0.1436 189.7732);
    --sidebar-primary-foreground: oklch(0.5811 0.1998 315.4418);
    --sidebar-accent: oklch(0.9301 0.0380 81.5083);
    --sidebar-accent-foreground: oklch(0.5811 0.1998 315.4418);
    --sidebar-border: oklch(0.5811 0.1998 315.4418);
    --sidebar-ring: oklch(0.8642 0.1763 91.9286);
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.75rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.25;
    --shadow-color: #FCCD04;
    --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.13);
    --shadow-xs: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.13);
    --shadow-sm: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.25), 0 1px 2px -1px hsl(48.6290 97.6378% 50.1961% / 0.25);
    --shadow: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.25), 0 1px 2px -1px hsl(48.6290 97.6378% 50.1961% / 0.25);
    --shadow-md: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.25), 0 2px 4px -1px hsl(48.6290 97.6378% 50.1961% / 0.25);
    --shadow-lg: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.25), 0 4px 6px -1px hsl(48.6290 97.6378% 50.1961% / 0.25);
    --shadow-xl: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.25), 0 8px 10px -1px hsl(48.6290 97.6378% 50.1961% / 0.25);
    --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(48.6290 97.6378% 50.1961% / 0.63);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  
  body {
    letter-spacing: var(--tracking-normal);
  }