:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.3233 0.1025 253.8852);
    --card: oklch(0.9791 0 0);
    --card-foreground: oklch(0.3233 0.1025 253.8852);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3233 0.1025 253.8852);
    --primary: oklch(0.5808 0.2383 29.2339);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.3233 0.1025 253.8852);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9067 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.7505 0.1791 58.2827);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.4776 0.1930 23.5886);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8452 0 0);
    --input: oklch(0.9067 0 0);
    --ring: oklch(0.5808 0.2383 29.2339);
    --chart-1: oklch(0.5808 0.2383 29.2339);
    --chart-2: oklch(0.3233 0.1025 253.8852);
    --chart-3: oklch(0.7505 0.1791 58.2827);
    --chart-4: oklch(0.4955 0.0896 126.1858);
    --chart-5: oklch(0.8669 0 0);
    --sidebar: oklch(0.3233 0.1025 253.8852);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.5808 0.2383 29.2339);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.7505 0.1791 58.2827);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.4091 0 0);
    --sidebar-ring: oklch(0.5808 0.2383 29.2339);
    --font-sans: "Roboto Flex", sans-serif;
    --font-serif: "PT Serif", serif;
    --font-mono: "Roboto Mono", monospace;
    --radius: 0.125rem;
    --shadow-x: 0rem;
    --shadow-y: 0.15rem;
    --shadow-blur: 0.4rem;
    --shadow-spread: 0.05rem;
    --shadow-opacity: 0.1;
    --shadow-color: #003366;
    --shadow-2xs: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.05);
    --shadow-xs: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.05);
    --shadow-sm: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.10), 0rem 1px 2px -0.95px hsl(210 100% 20% / 0.10);
    --shadow: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.10), 0rem 1px 2px -0.95px hsl(210 100% 20% / 0.10);
    --shadow-md: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.10), 0rem 2px 4px -0.95px hsl(210 100% 20% / 0.10);
    --shadow-lg: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.10), 0rem 4px 6px -0.95px hsl(210 100% 20% / 0.10);
    --shadow-xl: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.10), 0rem 8px 10px -0.95px hsl(210 100% 20% / 0.10);
    --shadow-2xl: 0rem 0.15rem 0.4rem 0.05rem hsl(210 100% 20% / 0.25);
    --tracking-normal: 0.02em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: oklch(0.3233 0.1025 253.8852);
    --foreground: oklch(1.0000 0 0);
    --card: oklch(0.2506 0.0749 251.9371);
    --card-foreground: oklch(1.0000 0 0);
    --popover: oklch(0.2506 0.0749 251.9371);
    --popover-foreground: oklch(1.0000 0 0);
    --primary: oklch(0.5808 0.2383 29.2339);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7505 0.1791 58.2827);
    --secondary-foreground: oklch(0.3233 0.1025 253.8852);
    --muted: oklch(0.3922 0.1285 254.8599);
    --muted-foreground: oklch(0.7058 0 0);
    --accent: oklch(0.7505 0.1791 58.2827);
    --accent-foreground: oklch(0.3233 0.1025 253.8852);
    --destructive: oklch(0.6962 0.1955 32.3214);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.5125 0.0929 250.0909);
    --input: oklch(0.3922 0.1285 254.8599);
    --ring: oklch(0.5808 0.2383 29.2339);
    --chart-1: oklch(0.5808 0.2383 29.2339);
    --chart-2: oklch(0.7505 0.1791 58.2827);
    --chart-3: oklch(1.0000 0 0);
    --chart-4: oklch(0.6237 0.0866 247.3280);
    --chart-5: oklch(0.7058 0 0);
    --sidebar: oklch(0.3233 0.1025 253.8852);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.5808 0.2383 29.2339);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.7505 0.1791 58.2827);
    --sidebar-accent-foreground: oklch(0.3233 0.1025 253.8852);
    --sidebar-border: oklch(0.5125 0.0929 250.0909);
    --sidebar-ring: oklch(0.5808 0.2383 29.2339);
    --font-sans: "Roboto Flex", sans-serif;
    --font-serif: "PT Serif", serif;
    --font-mono: "Roboto Mono", monospace;
    --radius: 0.125rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.6rem;
    --shadow-spread: 0.1rem;
    --shadow-opacity: 0.2;
    --shadow-color: #E60000;
    --shadow-2xs: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.10);
    --shadow-xs: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.10);
    --shadow-sm: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.20), 0rem 1px 2px -0.9px hsl(0 100% 45.0980% / 0.20);
    --shadow: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.20), 0rem 1px 2px -0.9px hsl(0 100% 45.0980% / 0.20);
    --shadow-md: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.20), 0rem 2px 4px -0.9px hsl(0 100% 45.0980% / 0.20);
    --shadow-lg: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.20), 0rem 4px 6px -0.9px hsl(0 100% 45.0980% / 0.20);
    --shadow-xl: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.20), 0rem 8px 10px -0.9px hsl(0 100% 45.0980% / 0.20);
    --shadow-2xl: 0rem 0.25rem 0.6rem 0.1rem hsl(0 100% 45.0980% / 0.50);
  }
  
  
  
  body {
    letter-spacing: var(--tracking-normal);
  }
