:root {
  --background: oklch(0.9055 0.0134 262.3771);
  --foreground: oklch(0 0 0);
  --card: oklch(0.8195 0.0273 257.0377);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9055 0.0134 262.3771);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.4371 0.0347 245.5389);
  --primary-foreground: oklch(0.9055 0.0134 262.3771);
  --secondary: oklch(0.7095 0.0211 245.7453);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.8195 0.0273 257.0377);
  --muted-foreground: oklch(0.4371 0.0347 245.5389);
  --accent: oklch(0.7095 0.0211 245.7453);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.7095 0.0211 245.7453);
  --input: oklch(0.8195 0.0273 257.0377);
  --ring: oklch(0.4371 0.0347 245.5389);
  --chart-1: oklch(0.4371 0.0347 245.5389);
  --chart-2: oklch(0.7095 0.0211 245.7453);
  --chart-3: oklch(0.8195 0.0273 257.0377);
  --chart-4: oklch(0.9055 0.0134 262.3771);
  --chart-5: oklch(0 0 0);
  --sidebar: oklch(0.7095 0.0211 245.7453);
  --sidebar-foreground: oklch(0.9055 0.0134 262.3771);
  --sidebar-primary: oklch(0.4371 0.0347 245.5389);
  --sidebar-primary-foreground: oklch(0.9055 0.0134 262.3771);
  --sidebar-accent: oklch(0.8195 0.0273 257.0377);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9055 0.0134 262.3771);
  --sidebar-ring: oklch(0.4371 0.0347 245.5389);
  --font-sans: Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9055 0.0134 262.3771);
  --card: oklch(0.4371 0.0347 245.5389);
  --card-foreground: oklch(0.9055 0.0134 262.3771);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9055 0.0134 262.3771);
  --primary: oklch(0.9055 0.0134 262.3771);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.7095 0.0211 245.7453);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.4371 0.0347 245.5389);
  --muted-foreground: oklch(0.9055 0.0134 262.3771);
  --accent: oklch(0.7095 0.0211 245.7453);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.4371 0.0347 245.5389);
  --input: oklch(0.4371 0.0347 245.5389);
  --ring: oklch(0.9055 0.0134 262.3771);
  --chart-1: oklch(0.9055 0.0134 262.3771);
  --chart-2: oklch(0.8195 0.0273 257.0377);
  --chart-3: oklch(0.7095 0.0211 245.7453);
  --chart-4: oklch(0.4371 0.0347 245.5389);
  --chart-5: oklch(0 0 0);
  --sidebar: oklch(0.4371 0.0347 245.5389);
  --sidebar-foreground: oklch(0.9055 0.0134 262.3771);
  --sidebar-primary: oklch(0.9055 0.0134 262.3771);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.7095 0.0211 245.7453);
  --sidebar-accent-foreground: oklch(0.9055 0.0134 262.3771);
  --sidebar-border: oklch(0.7095 0.0211 245.7453);
  --sidebar-ring: oklch(0.9055 0.0134 262.3771);
  --font-sans: Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.2;
  --shadow-color: #B9C5D6;
  --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.10);
  --shadow-xs: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.10);
  --shadow-sm: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.20), 0 1px 2px -1px hsl(215.1724 26.1261% 78.2353% / 0.20);
  --shadow: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.20), 0 1px 2px -1px hsl(215.1724 26.1261% 78.2353% / 0.20);
  --shadow-md: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.20), 0 2px 4px -1px hsl(215.1724 26.1261% 78.2353% / 0.20);
  --shadow-lg: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.20), 0 4px 6px -1px hsl(215.1724 26.1261% 78.2353% / 0.20);
  --shadow-xl: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.20), 0 8px 10px -1px hsl(215.1724 26.1261% 78.2353% / 0.20);
  --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(215.1724 26.1261% 78.2353% / 0.50);
}



body {
  letter-spacing: var(--tracking-normal);
}
